.navbar {
  position: absolute;
  background: transparent;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(rgb(0, 0, 0), green, blue, alpha);
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(212, 144, 144, 0.795);
}
body {
  background-color: rgba(90, 33, 33, 0.767);
}
.nav-item {
  text-align: right;
  font-weight: bolder;
}
.navbar-light {
  color: rgb(143, 143, 143);
}
#maps {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.carousel-item {
  position: relative;
  height: 40rem;
  background: rgb(65, 37, 37);
  color: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

#charts {
  position: relative;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 500px;
  font-size: smaller;
  text-align: center;
}

.row {
  position: relative;
  padding-top: 30%;
}

.col-8 {
  color: rgb(255, 255, 255);
}

.top-buffer {
  margin-top: 20px;
}
